---
layout: default
pagination:
  data: collections.posts
  reverse: true
  size: 5
permalink: "/page/{{ pagination.pageNumber | plus: 1 }}/"
metadata:
  description: Blog posts by Stan Lemon.
---

{%- for page in pagination.items -%}
  {%- if page.data.page.excerpt -%}
    {%- capture pageContent -%}
      {%- liquidify page.data.page.excerpt -%}
    {%- endcapture -%}
  {%- else -%}
    {%- assign pageContent = page.templateContent -%}
  {%- endif -%}

  {% include article, site: site, url: page.url, title: page.data.title, date: page.data.date, content: pageContent, keepReading: page.data.page.excerpt %}
{% endfor %}

{% assign pages = pagination.hrefs | paginate: pagination.pageNumber %}

<nav class="text-center">
  <ul class="pagination columns">
    {% if pagination.pageNumber > 2 %}
      {% if pagination.href.previous %}
        <li>
          <a href="{{ site.url }}{{ pagination.href.previous }}">
            <i class="fas fa-angle-double-left" title="Previous"></i>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <i class="fas fa-angle-double-left" title="Previous"></i>
        </li>
      {% endif %}

      {% if page.url == pagination.hrefs.first %}
        <li class="edge active"><a href="{{ site.url }}{{ pagination.hrefs.first }}">1</a></li>
      {% else %}
        <li class="edge"><a href="{{ site.url }}{{ pagination.hrefs.first }}">1</a></li>
      {% endif %}

      <li class="gap"><span>...</span></li>
    {% endif %}

    {% for data in pages %}
      {% if page.url == data.href %}
        <li class="active"><a href="{{site.url}}{{data.href}}">{{data.page}}</a></li>
      {% else %}
        <li><a href="{{site.url}}{{data.href}}">{{data.page}}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.pageNumber < 12 %}
      <li class="gap"><span>...</span></li>

      {% if page.url == pagination.hrefs.last %}
        <li class="active edge"><a href="{{ site.url }}{{ pagination.hrefs | last }}">{{pagination.hrefs.size}}</a></li>
      {% else %}
        <li class="edge"><a href="{{ site.url }}{{ pagination.hrefs | last }}">{{pagination.hrefs.size}}</a></li>
      {% endif %}

      {% if pagination.href.next %}
        <li>
          <a href="{{ site.url }}{{ pagination.next.previous }}">
            <i class="fa fa-angle-double-right" title="Next"></i>
          </a>
        </li>
      {% else %}
        <li class="disabled">
          <i class="fas fa-angle-double-right" title="Next"></i>
        </li>
      {% endif %}
    {% endif %}
  </ul>
</nav>
