---
layout: default
pagination:
  data: collections.posts
  reverse: true
  size: 5
permalink: "/{% if pagination.pageNumber>0 %}page/{{ pagination.pageNumber | plus: 1 }}{% endif %}/index.html"
---

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <div><strong>If you don't read anything else, check out:</strong></div>
    <ul>
      <li><a href="/2019/08/08/how-we-paid-off-our-mortgage/">How We Paid Off Our Mortgage</a> <em>(for the finance nerd)</em></li>
      <li><a href="/2019/07/26/life-with-a-twist-of-lemon-the-first-year/">Life with a Twist of Lemon - The First Year</a> <em>(for the person with nothing to do)</em></li>
      <li><a href="/2019/02/28/react-pouchdb-components/">React PouchDB Components</a> <em>(for the programmer)</em></li>
      <li><a href="/2019/07/06/my-favorite-marvel-movies/">My Favorite Marvel Movies</a> <em>(for the pop culture nerd)</em></li>
    </ul>

    <hr>
  </div>
</div>

{%- for page in pagination.items -%}
  {%- if page.data.page.excerpt -%}
    {%- assign pageContent = page.data.page.excerpt -%}
  {%- else -%}
    {%- assign pageContent = page.templateContent -%}
  {%- endif -%}

  {% include article with url: page.url, title: page.data.title, date: page.data.date, content: pageContent, keepReading: page.data.page.excerpt %}
  <div class="spacer"></div>
{% endfor %}

<nav class="text-center">
  <ul class="pagination">
    {% if pagination.href.previous %}
      <li>
        <a href="{{ pagination.href.previous }}">&laquo; Prev</a>
      </li>
    {% else %}
      <li>
        <span>&laquo; Prev</span>
      </li>
    {% endif %}

    {% for href in pagination.hrefs %}
      {% if page.url == href %}
        <li class="active"><a>{{ forloop.index }}</a></li>
      {% else %}
        <li><a href="{{ href }}">{{ forloop.index }}</a></li>
      {% endif %}
    {% endfor %}

    {% if pagination.href.next %}
      <li>
        <a href="{{ pagination.next.previous }}">Next &raquo;</a>
      </li>
    {% else %}
      <li>
        <span>Next &raquo;</span>
      </li>
    {% endif %}
  </ul>
</nav>
