<article>
  <div class="columns is-vbottom">
    <div class="column">
      <h2>
        <a href="{{ url }}">{{ title }}</a>
      </h2>
      <h4>by Stan Lemon</h4>
    </div>
    <div class="column quarter post-date">
      <h3>{{ date | date: "%b %d, %Y" }}</h3>
    </div>
  </div>

  <hr>

  {{ content }}

  {% if keepReading %}
    <div class="keep-reading">
      <em><a href="{{ site.url }}{{ url }}">Keep Reading</a></em>
    </div>
  {% endif %}

  <hr>
</article>
