<article>
  <div class="columns is-vbottom">
    <div>
      <h2>
        <a href="{{ url }}">{{ title }}</a>
      </h2>
      <h4>by Stan Lemon</h4>
    </div>
    <h3 class="post-date">{{ date | date: "%b %d, %Y" }}</h3>
  </div>

  <hr>

  {{ content }}

  {% if keepReading %}
    <div class="keep-reading">
      <a href="{{ site.url }}{{ url }}">Keep Reading</a>
    </div>
  {% endif %}

  <hr>
</article>
