
<div class="row">    
  <div class="col-sm-offset-1 col-sm-7">
    <h2>
      <a href="{{ url }}">{{ title }}</a>
    </h2>
    <h4>by Stan Lemon</h4>
  </div>
  <div class="col-sm-3 post-date">
      <h3>{{ date | date: "%b %d, %Y" }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-sm-offset-1 col-sm-10">
    <article class="post-content">
      <hr>
      {{ content }}
      {% if keepReading %}
        <div class="spacer-sm"></div>
        <div class="keep-reading">
          <em><a href="{{url}}">Keep Reading</a></em>
        </div>
      {% endif %}
      <hr>
    </article>
  </div>
</div>
