<article>
  <div class="columns is-vbottom">
    <div>
      {% if headingLevel == 1 %}
      <h1 class="article-title">
        <a href="{{ url }}">{{ title }}</a>
      </h1>
      {% else %}
      <h2 class="article-title">
        <a href="{{ url }}">{{ title }}</a>
      </h2>
      {% endif %}
    </div>
    <div class="article-date">{{ date | date: "%b %d, %Y" }}</div>
  </div>

  <hr>

  {{ content }}

  {% if keepReading %}
    <div class="keep-reading">
      <a href="{{ site.url }}{{ url }}">Keep Reading</a>
    </div>
  {% endif %}

  <hr>
</article>
